.Tags-container {
  min-width: 250px;
  width: 350px;
}

.Tags-list {
  display: flex;
}

.Tag-item {
  background-color: #151829;
  border-radius: 16px;
  text-align: center;
  font-size: 14px;
  font-weight: lighter;
  padding: 5px;
  margin-right: 5px;
}
